body{
    background-image: url("/static/img/img1.jpg");
}
#form{
    margin: 150px auto;
    width: 15%
    min-width: 250px;
    display: flex;
    justify-content: center;
    border: 3px dashed pink;
}
#res {
    text-align: center;
    color: gold;
}