body{
    background-image: url("/static/img/img1.jpg");
}
#form{
    margin: 150px auto;
    max-width: 700px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    border: 3px dashed red;
}
#res {
    text-align: center;
    color: gold;
}